@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: #1f1f20;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}

.container {
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 30px;
  margin-top: 2em;
}

table {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 1em;
}

thead th {
  padding: 1em;
  align-items: left;
  color: #1f1f20;
  background-color: #ffffff;
  margin-bottom: 10px;
  border-bottom: 2px solid #fcd400;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color transform .2s ease-in-out;
}

thead tr {
  
}

tr {
  align-items: center;
  color: #1f1f20;
  background-color: #ffffff;
  margin-bottom: 10px;
  border-bottom: 2px solid #fcd400;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color transform .2s ease-in-out;
}

tr:hover {
 /* transition: cubic-bezier( 0.07, 1.40, .80, 1.40) 0.2s;
  transform: scale(1.01); */
  background-color: #efefef;
 /* box-shadow: 0 0 10px #dcdcdc; */
}

td {
  flex-direction: row;
  align-items: center;
}

button {
  font-weight: 600;
  background-color: #ffd700;
  color: #131425;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #ffd700;
  cursor: pointer;
  transition: .3s;
  margin: 3px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: .3em;
}

button:hover {
  box-shadow: 0 0 20px #f7f7f7;
  background-color: #fcfbfc;
}

.voto-container {
  padding-right: 1em;
}

.nome-container {
  padding-left: 1em;
  text-align: left;
}

.ranking-container {
  padding-left: 1em;
  justify-content: flex-start;
}

